section.aboutUs 
    .aboutUs__info
        .aboutUs__info-item
            .aboutUs__left 
                h2.aboutUs__left-title Высокие стандарты разработки
                p.aboutUs__left-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.  стандартной "рыбой" для текстов на латинице с начала XVI века. 
                a(href="#!").aboutUs__left-link Подробнее о компании
            .aboutUs__right 
                img(src="images/aboutUs.webp", alt="").aboutUs__rigth-img
        .aboutUs__info-num
            .aboutUs__num-item
                .aboutUs__num-top 
                    img.aboutUs__num-img(src="images/sectionTwo2.webp", alt="")
                    p.aboutUs__num-number 125
                .aboutUs__num-bottom 
                    h3.aboutUs__num-text Our projects
            .aboutUs__num-item
                .aboutUs__num-top 
                    img.aboutUs__num-img(src="images/sectionTwo2.webp", alt="")
                    p.aboutUs__num-number 125
                .aboutUs__num-bottom 
                    h3.aboutUs__num-text Our projects
            .aboutUs__num-item
                .aboutUs__num-top 
                    img.aboutUs__num-img(src="images/sectionTwo2.webp", alt="")
                    p.aboutUs__num-number 125
                .aboutUs__num-bottom 
                    h3.aboutUs__num-text Our projects
            .aboutUs__num-item
                .aboutUs__num-top 
                    img.aboutUs__num-img(src="images/sectionTwo2.webp", alt="")
                    p.aboutUs__num-number 125
                .aboutUs__num-bottom 
                    h3.aboutUs__num-text Our projects
            .aboutUs__num-item
                .aboutUs__num-top 
                    img.aboutUs__num-img(src="images/sectionTwo2.webp", alt="")
                    p.aboutUs__num-number 125
                .aboutUs__num-bottom 
                    h3.aboutUs__num-text Our projects
            

