section.allService 
    .allService__content 
        .allService__content-top
            h3.allService__content-title Наши работы, на которых мы специализируемся 
            a(href="#!").allService__btn.allbtn Все услуги
.allService__content-bottom
    .allService__content-items
        .allService__bottom 
            img.bottom-img(src="images/allService.webp" alt="")
            .bottom-info 
                h3.bottom-title
                    span.bottom-span 01.
                    |    Исследование и упаковка 
                p.bottom-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                a.bottom-link(href="#!") Подробнее
        .allService__bottom 
            img.bottom-img(src="images/allService.webp" alt="")
            .bottom-info 
                h3.bottom-title
                    span.bottom-span 01.
                    |    Исследование и упаковка 
                p.bottom-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                a.bottom-link(href="#!") Подробнее
        .allService__bottom 
            img.bottom-img(src="images/allService.webp" alt="")
            .bottom-info 
                h3.bottom-title
                    span.bottom-span 01.
                    |    Исследование и упаковка 
                p.bottom-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                a.bottom-link(href="#!") Подробнее