section.ourService 
    .ourService__content
        h2.ourService__content-title Мы создаем мобильные приложения для крупных корпораций
        p.ourService__content-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. 
        .ourService__circle
            .ourService__circle-item    
                img(src="images/circle.webp", alt="").ourService-icon                
                .ourService__circle-info
                    h3.info-title Создание сайтов
                    p.info-text Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.       
            .ourService__circle-item    
                img(src="images/circle.webp", alt="").ourService-icon                
                .ourService__circle-info
                    h3.info-title Создание сайтов
                    p.info-text Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.       
            .ourService__circle-item    
                img(src="images/circle.webp", alt="").ourService-icon                
                .ourService__circle-info
                    h3.info-title Создание сайтов
                    p.info-text Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.       
        a(href="#!").ourService__btn.allbtn Все услуги