section.subscribe
    .subscribe__info 
        h3.subscribe__info-title Подпишитесь на нашу рассылку
        p.subscribe__info-text Полезные статьи, акции, новости - получите все это сейчас!
        form(action="").subscribe__form 
            input.subscribe__form-input(type="text" placeholder="Ваш e-mail" )
            button.subscribe__form-btn 
                a(href="#!")  Подписаться
        h3.subscribe__info-minitext Мы не шлем спам, и передаем никому ваши данные.
