footer.footer 
    .footer__content 
        .footer__content-info 
            h3.footer__content-title Контактная информация
            ul.footer__content-list
                li.footer__content-li 
                    a.footer__content-icons.icon-envelope(href="#!") 
                    a.footer__content-text(href="#!") test@test.ru
                li.footer__content-li 
                    a.footer__content-icons.icon-phone(href="#!")      
                    a.footer__content-text(href="#!") +8 777 555 66 99
                li.footer__content-li 
                    a.footer__content-icons.icon-location(href="#!") 
                    a.footer__content-text(href="#!") Москва, Бульвар Ленина 33
        .footer__content-links 
            h3.footer__content-title Основные ссылки
            ul.footer__content-list
                li.footer__content-li
                    a.footer__content-icons.icon-next(href="#!")
                    a.footer__content-text(href="#!") Главная 
                li.footer__content-li
                    a.footer__content-icons.icon-next(href="#!")
                    a.footer__content-text(href="#!") Наши проекты 
                li.footer__content-li
                    a.footer__content-icons.icon-next(href="#!")
                    a.footer__content-text(href="#!") Наши услуги
                li.footer__content-li
                    a.footer__content-icons.icon-next(href="#!")
                    a.footer__content-text(href="#!") Контакты
        .footer__content-projects 
            h3.footer__content-title Наши проекты
            ul.footer__content-list 
                li.footer__content-li
                    a.footer__content-icons.icon-next(href="#!")
                    a.footer__content-text(href="#!") РосНано 
                li.footer__content-li
                    a.footer__content-icons.icon-next(href="#!")
                    a.footer__content-text(href="#!") Сколково
                li.footer__content-li
                    a.footer__content-icons.icon-next(href="#!")
                    a.footer__content-text(href="#!") Проект “Восток”
                li.footer__content-li
                    a.footer__content-icons.icon-next(href="#!")
                    a.footer__content-text(href="#!") ТЭЦ Калининграда    
        .footer__content-social 
            h3.footer__content-title Социальные сети
            ul.footer__content-list 
                li.footer__content-li
                    a.footer__content-icons.icon-next(href="#!")
                    a.footer__content-text(href="#!") VK.com 
                li.footer__content-li
                    a.footer__content-icons.icon-next(href="#!")
                    a.footer__content-text(href="#!") Instagram
                li.footer__content-li
                    a.footer__content-icons.icon-next(href="#!")
                    a.footer__content-text(href="#!") Facebook
                li.footer__content-li
                    a.footer__content-icons.icon-next(href="#!")
                    a.footer__content-text(href="#!") Twitter 
    p.footer__end (с) 2019. Все права защищены.